{% load navigation_tags static %}
<nav class="mdc-drawer__drawer">
  <header class="mdc-drawer__header mdc-top-app-bar mdc-top-app-bar--prominent">
    <div class="mdc-drawer__header-content">
      <!-- Display the image scaled to a width of 400 pixels: -->
      <img src="{% static 'img/header_logo.png' %}" alt="Logo"/>
    </div>
  </header>
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item" href="/">Home</a>
        <hr class="mdc-list-divider" />
        {% get_site_root as site_root %}
        {% navigation_list parent=site_root calling_page=self %}                    
        <hr class="mdc-list-divider" />
        <a class="mdc-list-item" href="/django-admin">Django Admin</a>
        <a class="mdc-list-item" href="/admin">Wagtail Admin</a>
      </nav>
    </div>
</nav>
