<header class="mdc-top-app-bar mdc-top-app-bar--fixed page-header">
  <div className='mdc-top-app-bar__row'>
    <section className='mdc-top-app-bar__section mdc-top-app-bar__section--align-start'>
      <!-- {navIcon ? navIcon : null} -->
      <h3 class="mdc-top-app-bar__title">{{page.title}}</h3>

    </section>
    <section className='mdc-top-app-bar__section mdc-top-app-bar__section--align-end' role='toolbar'>
      <!-- {actionItems.map((item, key) => React.cloneElement(item, {key}))} -->
    </section>
  </div>
</header>
