$aset-accent: green;
$nesc-accent: indigo;

$mdc-theme-primary: $nesc-accent;

@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";

@import "@material/card/mdc-card";
@import "@material/drawer/mdc-drawer";
@import '@material/layout-grid/mdc-layout-grid';
@import "@material/list/mdc-list";

@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

.mdc-flex {
  display: flex;
  content[role="main"] {

    display: flex;
    flex: 1;
    main {
      flex: 1;
      overflow: auto;
      &.mdc-toolbar-fixed-adjust {
        padding: 1rem 2rem;
      }
    }
  }
}
