{% load static wagtailimages_tags wagtailuserbar navigation_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="mdc-typography mdc-flex {% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
        {% wagtailuserbar %}
      <aside class="mdc-drawer mdc-drawer--temporary">
        {# Main Navigation Block #}
        {% include 'components/_drawer.html' with parent=site_root calling_page=self %}
      </aside>
      <content class="mdc-content" role="main" tabindex="-1">
        {% block content %}{% endblock %}
      </content>
      {# Global javascript #}
      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

      {% block extra_js %}
          {# Override this in templates to add extra javascript #}
      {% endblock %}
    </body>
</html>
